
/*home layout*/
.home {
    /* autoprefixer: off */
    display: grid;
    height: calc(var(--viewportHeight) * 2);
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 0;
    grid-template-areas: "sidebar primary"
                         "sidebar featuring";
    /* background: var(--auxColor2); */
    height: 100%;
    @media (--small ){
      margin-top: 80px;
      grid-template-columns: 200px 1fr;
      /* height: auto;
      display: flex;
      flex-direction:column;  */
      /* grid-template-columns: 1fr;
      grid-template-rows: auto auto 150px;
      grid-template-areas:  "primary"
                            "sidebar"
                            "featuring"; */
    }
  }