.modal-signUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.modal-signUp input{
  margin: 10px 0;
}

.modal-button {
  width: 160px;
  height: 44px;
  padding: 6px 0px;
}

.signIn__social {
  width: 110%;
  margin: 14px 0;
  justify-content: flex-start;
}

.signIn__social--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  height: 44px;
}

.signIn__social--item figure{
  width: min-content;
}

.signIn__social--item img{
  width: 40px;
  height: 40px;
}

.signIn__social--item p{
  margin: 0 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.signIn__social--item p:hover{
  font-weight: bold;
  text-decoration: underline;
}