.primary-user {
  margin: 5px;
  display: flex;
  align-items: center;
  color: var(--lightColor);
  @media (--small ){
    grid-area: user;
    margin: 5px;
  }  
}
#singIn-button{
  margin: 0 10px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
/* class="search-button" */
.primary-user button {
  margin: 0 10px;
  height: 35px;
  width: 100%;
  border-radius: 0px;
  background: var(--warningColor);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  cursor: pointer;
  @media (--small ){
    width: 100%;
  }
}
.primary-user button:hover {
  box-shadow: 0px 4px 4px #afa8a9;
}
.primary-user img:hover {
  text-decoration: underline;
  transform: scale(1.1);
  cursor: pointer;
}

.primary-user img {
  display: none;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin: 5px;
  height: 30px;
  width: 30px;
  border: 1.6px black solid;
  border-radius: 130px;
  padding: 2px;
}

.primary-user-settings{
  padding: 10px;
  width: 200px;
  height: 200px;
  background: var(--darkColor);
  position: absolute;
  /* top: 80px; */
  right: -100px;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  transition: 8s;
}
.primary-user-settings.is-active{
  right: 10px;
  transition: 8s;
  display: flex;
}

.primary-user-settings.is-desactive{
  right: -100px;
  transition: 8s;
  display: none;
}

.primary-user-settings p{
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
  cursor: pointer;
}

.primary-user-settings button{
  background-color: var(--warningColor);
  margin: 10px auto;
  height: 35px;
  width: 60%;
  border-radius: 0px;
  background: var(--warningColor);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  cursor: pointer;
}